<body>
<app-navbar></app-navbar>

<div class="divider"><span></span><span>About Us</span><span></span></div>


    <br>
    
     
    

      <div class="container">
        <div class="wrapper">
            <div class="left-side">
                <br>
                <img src="assets/homepage.jpg" width="300" height="300"><br><br>
            </div>
            <div class="right-side">
                <p> BookApp is a web application that allows people to view books of different genres and authors.
                    The history of the book starts with the development of writing, and various other inventions such as paper and printing, and continues through to the modern-day business of book printing. The earliest knowledge society have on the history of books actually predates what would conventionally be called "books" today and begins with tablets, scrolls, and sheets of papyrus. (The current format that we consider to be books, with separate sheets fastened together rather than a scroll, is called a codex (plural codices)). Then hand-bound, expensive, and elaborate manuscripts appeared in codex form. These gave way to press-printed volumes and eventually led to the mass-printed volumes prevalent today. Contemporary books may even have no physical presence with the advent of the e-book. The book also became more accessible to the disabled with the advent of Braille and spoken books.
                     This is an application built using angular and Spring boot. </p>
                
                <p>BOOKAPP- CREATED BY TEAM : ARNAV,HARSHITA,PHALGUNI,REVANT,SHREYA</p>
                
            </div>
        </div>
    </div>
    <br>
<app-footer></app-footer>

</body>
