body{
    background-color: bisque;
}

div{
    text-align: center;
}


form{
    color: rgb(94, 17, 17);
    font-weight:500;
}
#editForm{
    background-color: rgba(77, 38, 7, 0.4);
    width: 50%;
    border: 2px rgb(94, 17, 17) solid;
    padding: 75px;
    box-shadow: 0 0 10px 5px rgba(77, 38, 7, 0.4);
    /* border-radius: 8px; */
}
.btnEdit {
    background-color: rgb(81, 20, 20);
    border: 0px;
    color: lightgoldenrodyellow;
    padding: 1%;
    border-radius: 5px;
}