<body>
    <app-navbar></app-navbar><br><br>

    <div class="container">
        <div class="row">
            <h1 style="color: rgb(81, 20, 20)">Edit Profile</h1>
        </div>
        <br>
        <div class="container" id="editForm">
            <form (ngSubmit)="onSubmit()">

                <label class="form-label" for="title">Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="user.name">

                <br>
                <label class="form-label" for="id">Email ID</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="user.email">
                <br>
                <label class="form-label" for="copies">Password</label>
                <input type="password" class="form-control" name="pwd" [(ngModel)]="user.pwd">
                <br>
                <label class="form-label" for="copies">Phone Number</label>
                <input type="tel" class="form-control" name="phNo" [(ngModel)]="user.phNo">

                <br>
                <br>
                <button (click)="onSubmit()" class="btnEdit">Update Profile</button>
                <br>
            </form>
        </div>
        <br><br>

    </div>

    <app-footer></app-footer>
</body>