<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg" style="background-color: rgb(219, 169, 105); text-align: center; ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/dashboard">
            <img src="favicon.ico" alt="" width="30" height="24">
        </a>
        <a class="navbar-brand"  (click)="goToDashboard()" routerLink="/dashboard/">Bookkeeperrr</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="goToLibrary()" routerLink="/library/">Library
                        <i class="bi-book-half"></i>
                    </a>
                </li>&nbsp;&nbsp;
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/wishlist">Wish List
                        <i class="bi-bookmark-check-fill"></i>
                    </a>
                </li>&nbsp;&nbsp; -->
                <li class="nav-item">
                    <!-- <a  class="nav-link active" aria-current="page" (click)="goToFavourites()"   routerLink="/favourites">Favorites
                        <i class="bi-heart-fill"></i>
                    </a> -->
                    <a  class="nav-link active" aria-current="page" (click)="goToFavourites()" routerLink="/favourites/" >Favorites
                        <i class="bi-heart-fill"></i>
                    </a>
                </li>&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="goToRecommendation()"  routerLink="/recommendations/">Recommendations
                        <i class="bi-check-circle-fill"></i>
                    </a>
                </li>&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/authors">Authors
                        <i class="bi-person-circle"></i>
                    </a>
                </li>&nbsp;&nbsp;
            </ul>
            <form class="d-flex" role="search" style="padding-right: 10%;" (ngSubmit)="OnSubmit()">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    [(ngModel)]="search" name="search">
                <button class="btn" type="submit" (click)="OnSubmit()">
                    <i class="bi-search"></i>
                </button>
            </form>
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi-list"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="#">Action</a></li>
                        <li><a class="dropdown-item" routerLink="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="#">Something else here</a></li>
                    </ul>
                </li>
            </ul> -->

            <div class="dropdown" style="padding-right: 10%;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgb(94, 17, 17);">
                    <i class="bi-list"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" routerLink="/my-profile" (click)="goToProfile()">My Profile</a></li>
                    <li><a class="dropdown-item" routerLink="/about">About Us</a></li>
                    <li><a class="dropdown-item" routerLink="/" (click)="LogoutUser()">LogOut</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>

<div *ngIf="isVisible">
    <div class="divider"><span></span><span>Your Search Results</span><span></span></div>

    <div class="container-fluid mt-4">
        <div class="row justify-content-center" >
            <div class="col-auto mb-3" *ngFor="let books of bookData">
                <div class="card" style="width: 18rem; background-color: beige;  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);">
                    <div class="card-body text-center">
                        <div>
                            <img src="https://i.pinimg.com/originals/e7/08/69/e708697043f1a3b4d2d242c9f554f24e.jpg"
                            style="width : 100px; height : 150px; border: 3.5px solid rgb(135, 20, 0);" class="card-img-top"
                            alt="...">
                        </div>
                        
                        <h5 class="card-title text-center">{{books.bname}}</h5>
                        <br>
                        <h6>Authors: {{books.aname}}</h6>
                        
    
                       
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div  class="text-center" >
        <button (click)="isVisible=false" id="revertBtn">Revert to Dashboard</button>
    </div>
   
</div>