<body>
    <app-header></app-header>
 
    <div class="container" id="regImage">
        <div class="row">
        </div>
        <div class="container" id="regForm">
            <h1>Register Now</h1>
            <br>
            <form  (ngSubmit)="onSubmit()" >
                <label for="validationDefault01" >Name - </label>
                <input type="text" name="name" id="validationDefault01" class="form-control" placeholder="Ex: John Doe" [(ngModel)]="user.name" required>
                <label for="regEmail">Email ID - </label>
                <input type="email" name="email" id="regEmail" class="form-control" placeholder="Ex: johhdoe@email.com" [(ngModel)]="user.email" required>
                <label for="regPwd">Password - </label>
                <input type="password" name="pwd" id="regPwd" class="form-control" placeholder="Ex: *************" [(ngModel)]="user.pwd" required>
                <!-- <label for="regDOB">Date of Birth - </label>
                <input type="date" name="DOB" id="regDOB" class="form-control"> -->
                <label for="regPhone">Phone No. - </label>
                <input type="text" name="phNo" id="regPhone" class="form-control" placeholder="Ex: 1234567890" [(ngModel)]="user.phNo" required>
                <br><br>
                <input type="submit" value="Join Us Now!!" class="btnReg"  (click)="onSubmit()"><br><br>
            </form>
        </div>
        <br><br>
    </div>
 
    <!-- --------------Footer----------------- -->
 
    <div class="my-container">
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6 class="hfooter">
                        <a style="color: rgb(135, 20, 0);" class="btn" >Bookkeeperr
                            <i class="bi-house-fill"></i>
                        </a>
                    </h6>
                </div>
                <div class="col">
                    <h6 class="hfooter">
                        <a style="color: rgb(135, 20, 0);" class="btn" >Library
                            <i class="bi-book-half"></i>
                        </a>
                    </h6>
                </div>
   
                <div class="col">
                    <h6 class="hfooter">
                        <a style="color: rgb(135, 20, 0);" class="btn" >Wish List
                            <i class="bi-bookmark-check-fill"></i>
                        </a>
                    </h6>
                </div>
   
                <div class="col">
                    <h6 class="hfooter">
                        <a style="color: rgb(135, 20, 0);" class="btn" >Favourites
                            <i class="bi-heart-fill"></i>
                        </a>
                    </h6>
                </div>
   
                <div class="col">
                    <h6 class="hfooter">
                        <a style="color: rgb(135, 20, 0);" class="btn">Recommend
                            <i class="bi-check-circle-fill"></i>
                        </a>
                    </h6>
                </div>
               
                <div class="col">
                    <h6 class="hfooter">
                        <a style="color: rgb(135, 20, 0);" class="btn">Authors
                            <i class="bi-person-circle"></i>
                        </a>
                    </h6>
                </div>
   
                <div class="col">
                    <h6 class="hfooter">
                        <a style="color: rgb(135, 20, 0);" class="btn" >About Us
                            <i class="bi-info-circle-fill"></i>
                        </a>
                    </h6>
                </div>
            </div>
            <hr style="border:2px solid darkred; background-color: darkred;">
            <div class="row" id="upFooter">
                <h5 style="font-weight: 500">Contact Us - </h5>
                <div style="text-align:center;" class="col">
                    <h6 style="font-weight: 300; border-right: 2px solid rgb(135, 20, 0);">Ph No. - 9876543210
                        <i class="bi-telephone-fill"></i>
                    </h6>
                </div>
                <div style="text-align: center;" class="col">
                    <h6 style="font-weight: 300; border-right: 2px solid rgb(135, 20, 0);">bookkeerperrr@email.com
                        <i class="bi-envelope-fill"></i>
                    </h6>
                </div>
   
                <div style="text-align: center;" class="col">
                    <h6 style="font-weight: 300; border-right: 2px solid rgb(135, 20, 0);">bookkeerperrr@facebook
                        <i class="bi-facebook"></i>
                    </h6>
                </div>
   
                <div style="text-align: center;" class="col">
                    <h6 style="font-weight: 300; border-right: 2px solid rgb(135, 20, 0);">bookkeerperrr@instagram
                        <i class="bi-instagram"></i>
                    </h6>
                </div>
   
                <div style="text-align: center;" class="col">
                    <h6 style="font-weight: 300; border-right: 0ch;">bookkeerperrr@linkedin
                        <i class="bi-linkedin"></i>
                    </h6>
                </div>
   
            </div>
            <hr style="border:2px solid darkred; background-color: darkred;">
            <div class="row" id="copyright">
                <p style="text-align: center;">All rights are reserved &copy; 2022.
                </p>
                <p>
                    Bookkeeperrr- Created by : Arnav, Harshita, Phaalguni, Revant, Shreya
                </p>
            </div>
        </div>
    </div>
</body>

