<body>
    <div class="container">
            <div class="heading">
                <h2><em>Come embark on this journey of mindful wonderland, here at </em></h2><br>
                <h1>XYZ</h1><br>
                <h5><em>We know what you are looking for</em></h5>
            </div>

            <div class="image">
                <img src="assets/main.png" height="350" width="400">
            </div>
            <div class="divider"><span></span><span>On your marks, get set, READ!</span><span></span></div>
            <div class="button">
                <a class="btn" routerLink="/login" role="button">Get Started
                </a>
            </div>
    </div>
</body>