<div class="my-container">
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6 class="hfooter">
                    <a routerLink="" style="color: rgb(135, 20, 0);" class="btn" (click)="goToDashboard()" routerLink="/dashboard/">Home
                        <i class="bi-house-fill"></i>
                    </a>
                </h6>
            </div>
            <div class="col">
                <h6 class="hfooter">
                    <a routerLink="" style="color: rgb(135, 20, 0);" class="btn" (click)="goToLibrary()" routerLink="/library/">Library
                        <i class="bi-book-half"></i>
                    </a>
                </h6>
            </div>

            <!-- <div class="col">
                <h6 class="hfooter">
                    <a routerLink="" style="color: rgb(135, 20, 0);" class="btn" routerLink="/wishlist">Wish List
                        <i class="bi-bookmark-check-fill"></i>
                    </a>
                </h6>
            </div> -->

            <div class="col">
                <h6 class="hfooter">
                    <a routerLink="" style="color: rgb(135, 20, 0);" class="btn" (click)="goToFavourites()" routerLink="/favourites/">Favourites
                        <i class="bi-heart-fill"></i>
                    </a>
                </h6>
            </div>

            <div class="col">
                <h6 class="hfooter">
                    <a routerLink="" style="color: rgb(135, 20, 0);" class="btn"  (click)="goToRecommendation()" routerLink="/recommendations/">X Recommends
                        <i class="bi-check-circle-fill"></i>
                    </a>
                </h6>
            </div>
            
            <div class="col">
                <h6 class="hfooter">
                    <a routerLink="" style="color: rgb(135, 20, 0);" class="btn" routerLink="/authors">Authors
                        <i class="bi-person-circle"></i>
                    </a>
                </h6>
            </div>

            <div class="col">
                <h6 class="hfooter">
                    <a routerLink="" style="color: rgb(135, 20, 0);" class="btn" routerLink="about">About Us
                        <i class="bi-info-circle-fill"></i>
                    </a>
                </h6>
            </div>
        </div>
        <hr style="border:2px solid darkred; background-color: darkred;">
        <div class="row" id="upFooter">
            <h5 style="font-weight: 500">Contact Us - </h5>
            <div style="text-align:center;" class="col">
                <h6 style="font-weight: 300; border-right: 2px solid rgb(135, 20, 0);">Ph No. - 9876543210
                    <i class="bi-telephone-fill"></i>
                </h6>
            </div>
            <div style="text-align: center;" class="col">
                <h6 style="font-weight: 300; border-right: 2px solid rgb(135, 20, 0);">xyz@email.com
                    <i class="bi-envelope-fill"></i>
                </h6>
            </div>

            <div style="text-align: center;" class="col">
                <h6 style="font-weight: 300; border-right: 2px solid rgb(135, 20, 0);">xyz@facebook
                    <i class="bi-facebook"></i>
                </h6>
            </div>

            <div style="text-align: center;" class="col">
                <h6 style="font-weight: 300; border-right: 2px solid rgb(135, 20, 0);">xyz@instagram
                    <i class="bi-instagram"></i>
                </h6>
            </div>

            <div style="text-align: center;" class="col">
                <h6 style="font-weight: 300; border-right: 0ch;">xyz@linkedin
                    <i class="bi-linkedin"></i>
                </h6>
            </div>

        </div>
        <hr style="border:2px solid darkred; background-color: darkred;">
        <div class="row" id="copyright">
            <p style="text-align: center;">All rights are reserved &copy; 2022. Data gathered form
                <a href="https://openlibrary.org/">openlibrary.org</a>
            </p>
        </div>
    </div>
</div>